.nosotros {
    width: 100%;
    margin: 20px auto;
    text-align: center;
    margin-bottom: 0;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 100%);
}

.contenedor-cards {
    width: 80%;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 10px;
 }

 @media (max-width: 1000px) { 
    .contenedor-cards {
        grid-template-columns: repeat(1, 1fr);
    }
 }

 
 .info-nosotros h5 {
     color: #DE0404;
 }

 .card-nosotros h4, p {
    color: #fff;
    text-shadow: 2px 1px 4px rgba(50, 62, 64, 0.58);
    margin-bottom: 10px;
    padding: 10px;
 }

 .nosotros h4 {
    color: #DE0404;
 }

 .card-nosotros p {
     margin-bottom: 0;
     color: #fff;
 }
 
.card-nosotros img{
    height: 280px;
    width: 280px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.info-nosotros {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 5px;
}

.info-nosotros p {
    margin-bottom: 0px !important;
}