.form-login {
    width: 100%;
    height: 90vh;
    background-image: url(../../img/Background1ligth.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
}

.contenedor-form {
    height: auto;
    width: 70%;
    max-width: 600px;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #fff;
    color: #DE0404;
    border-radius: 20px;
    box-shadow: 1px 2px 5px 3px #000000;
}

form {
    padding: 5px;
    width: 90%;
    height: 100%;
    margin: auto;
}

form h3 {
    padding: 10px;
    font-size: 20px;
    color: #000;
    font-weight: 700;
}

.campo-form {
    padding: 10px;
    margin: 0 auto;
}

.campo-form label, input {
    width: 90%;
    padding: 10px;
    outline: none;
    border: none;
    background: none;
    
    
}

.campo-form input {
    border-bottom: 2px solid #DE0404;
    margin-bottom: 15px;
    color: #000;
    transition: border-bottom 0.5s ease;
}

.campo-form input:focus {
    border-bottom: 2px solid #000;
}

.campo-form label {
    text-shadow: 3px 1px 2px black;
}

.campo-form input[type="submit"] {
    border-bottom: none;
}

.btn-login {
    padding: 10px;
    background-color: #DE0404;
    border-radius: 5px;
    color: black !important;
    font-weight: 700 !important;
    transition: background-color 0.5s ease !important;
    box-shadow: 1px 2px 5px 3px rgba(0,0,0,0.6);
}

.btn-login:hover {
    background-color: #E35555;
}
